const Store = require('openrecord/store/postgres')

module.exports = {
  getStore: () => new Store({
    host: 'localhost',
    user: 'username',
    password: '',
    database: 'database',
    plugins: [
      require('openrecord/lib/base/dynamic_loading')
    ],
    models: 'my_dir/models/*'
  }
}
